body {
  font-family: Arial, Helvetica, sans-serif;
}

body .header__encabezado {
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

body .header__encabezado .header__encabezado--logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .header__encabezado .header__encabezado--logos img {
  height: 90px;
}

@media screen and (max-width: 480px) {
  body .header__encabezado .header__encabezado--logos {
    display: none;
  }
}

body .header__encabezado .header__encabezado--titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 480px) {
  body .header__encabezado .header__encabezado--titulo {
    padding: 0px;
  }
}

body .header__encabezado .header__encabezado--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body .header__encabezado .header__encabezado--links img {
  width: 40px;
  height: 40px;
  margin: 3px;
}

body .header__encabezado .header__encabezado--links .btn-success {
  height: 40px;
  width: 100px;
  margin: 3px;
  vertical-align: middle;
  background-color: #5e751e;
  font-size: 18px;
  font-weight: bold;
  border-color: #5e751e;
}

body .header__encabezado .header__encabezado--links .btn-success:hover {
  background-color: #3d4c14;
  border-color: #3d4c14;
}

body .header__nav {
  background-color: #f5f2ea;
}

body .header__nav .navbar-light {
  padding: 2px;
}

body .header__nav .navbar-light .navbar-nav {
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .header__nav .navbar-light .navbar-nav .nav-item .nav-link {
  color: #5e751e;
  font-weight: bold;
}

body .header__nav .navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: #2d380e;
}

body .main__portada .img-fluid {
  width: 100%;
}

body .fondo_1 {
  background-color: white;
}

body .fondo_2 {
  background-color: #f5f2ea;
}

body .main__seccion {
  padding-top: 30px;
  padding-bottom: 30px;
}

body .main__seccion .fondo_1 {
  background-color: white;
}

body .main__seccion .fondo_2 {
  background-color: #f5f2ea;
}

body .main__seccion .img-fluid {
  margin-top: 30px;
  margin-bottom: 30px;
}

body .main__seccion .form-horizontal .form-group {
  margin: 5px 0px 5px 0px;
  padding: 2px;
  height: 40px;
}

body .main__seccion .form-horizontal .form-group .btn-primary {
  width: 200px;
  background-color: #5e751e;
  border-color: #5e751e;
  font-weight: bold;
}

body .main__seccion .form-horizontal .form-group .btn-primary:hover {
  background-color: #3d4c14;
  border-color: #3d4c14;
}

body .main__seccion .form-vertical {
  width: 100%;
}

body .main__seccion .form-vertical .mensaje {
  height: 200px;
}

body .main__seccion .btn-outline-primary {
  width: 150px;
  border-color: #5e751e;
  font-weight: bold;
  color: #5e751e;
}

body .main__seccion .btn-outline-primary:hover {
  background-color: #5e751e;
  color: white;
  border-color: #3d4c14;
}

body .main__seccion .main__seccion--contenido {
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .main__seccion .main__seccion--cards {
  padding-top: 20px;
  padding-bottom: 20px;
}

body .main__seccion .main__seccion--cards .main__seccion--card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 95%;
  margin: 10px;
}

body .main__seccion .main__seccion--cards .main__seccion--card .main__seccion--cardtext {
  opacity: 0;
  position: absolute;
  top: 8%;
  left: 12%;
  width: 80%;
  height: 80%;
  background-color: #d8e9a9;
  color: black;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: all;
  transition-property: all;
  padding: 10px;
}

body .main__seccion .main__seccion--cards .main__seccion--card:hover .main__seccion--cardtext {
  opacity: 1;
}

body .main__seccion iframe {
  margin-top: 30px;
  margin-bottom: 30px;
}

body .main__seccion fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .main__seccion .equipo1 {
  background-image: url("../images/caro.jpg");
  background-size: 230px;
  height: 200px;
  margin: 10px;
  background-color: beige;
}

body .main__seccion .equipo2 {
  background-image: url("../images/rosi.jpg");
  background-size: 230px;
  height: 200px;
  margin: 10px;
  background-color: beige;
}

body .main__seccion .equipo3 {
  background-image: url("../images/suky.jpg");
  background-size: 230px;
  height: 200px;
  margin: 10px;
  background-color: beige;
}

body .main__seccion .equipo4 {
  background-image: url("../images/paz.jpg");
  background-size: 230px;
  height: 200px;
  margin: 10px;
  background-color: beige;
}

body .main__seccion .equipo5 {
  background-image: url("../images/vicky.jpg");
  background-size: 230px;
  height: 200px;
  margin: 10px;
  background-color: beige;
}

body h1 {
  color: #5e751e;
  font-size: 50px;
  /*font-weight: bold;*/
  line-height: 1;
  margin: 0;
}

body h2 {
  color: #5e751e;
  line-height: 1;
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

@media screen and (max-width: 480px) {
  body h1 {
    font-size: 35px;
  }
  body h2 {
    font-size: 18px;
  }
}

body h3 {
  color: #7a9a02;
  font-size: 20px;
  margin: 0;
  padding: 10px;
  width: 100%;
}

body h4 {
  width: 100%;
}

body h5 {
  font-size: 35px;
  font-weight: bold;
}

body h6 {
  color: #5e751e;
  font-size: 70px;
  font-weight: bold;
}

body .footer {
  background-color: #f6e3ce;
}

body .footer .footer__recursos {
  padding-top: 20px;
  padding-bottom: 20px;
}

body .footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */