$color_titulo: rgb(94,117,30);
$color_fondo_1: white;
$color_fondo_2: #f5f2ea;
$base-color1:#718a12;
$base-color2:#2d4e9d;
$base-color3: #ea4e1b;
$base-color4:#f39938;
$color1-dark: saturate( darken( $base-color1, 10% ), 20% );
$color1-light: desaturate(lighten( $base-color1, 30% ),20%);
$color1-intense:saturate($base-color1, 20%);
$color2-dark: darken( $base-color2, 30% );
$color2-light: lighten( $base-color2, 30% );
$color3-dark: darken( $base-color3, 30% );
$color3-light: lighten( $base-color3, 30% );
$color4-dark: darken( $base-color4, 30% );
$color4-light: lighten( $base-color4, 20% );
$color4-verylight: desaturate(lighten( $base-color4, 30% ),20%);

$miembros:(
    1:"caro",
    2:"rosi",
    3:"suky",
    4:"paz",
    5:"vicky");


body{
    font-family: Arial, Helvetica, sans-serif;
     .header__encabezado{
            background-color: $color_fondo_1;
            padding-top: 15px;
            padding-bottom: 15px;
            .header__encabezado--logos{
                display: flex;
                justify-content: center;
                img{height: 90px}
            }
            @media screen and (max-width:480px) {
                .header__encabezado--logos{
                    display: none;
                }
            }
            .header__encabezado--titulo{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }
            @media screen and (max-width:480px) {
                .header__encabezado--titulo{
                    padding: 0px;
                }
            }
            .header__encabezado--links {
                display: flex;
                justify-content: center;
                align-items:flex-end;
                img {
                    width: 40px;
	                height: 40px;
                    margin: 3px;
                }
                .btn-success{
                    height: 40px;
                    width: 100px;
                    margin: 3px;
                    vertical-align: middle;
                    background-color: $color_titulo;
                    font-size: 18px;
                    font-weight: bold;
                    border-color: $color_titulo;
                    &:hover{
                        background-color:darken( $color_titulo, 10% );
                        border-color:darken( $color_titulo, 10% );
                    }
                }
            }
            
        }
    .header__nav{
         background-color: $color_fondo_2 ;
        .navbar-light{

            padding: 2px;
            .navbar-nav{
                width: 100%;
                justify-content: space-around;
                .nav-item{
                    .nav-link{
                        color: $color_titulo;
                        font-weight: bold;
                        &:hover{
                            color:darken( $color_titulo, 15% );
                        }
                    }
                }
            } 
        }
        
        
    }
    .main__portada {    
        .img-fluid{
            width: 100%;
        }
    }
    .fondo_1{
        background-color: $color_fondo_1;
    }
    .fondo_2{
        background-color: $color_fondo_2;
    }
    .fit__seccion{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    .main__seccion{
        padding-top: 30px;
        padding-bottom: 30px;
        
        
        .fondo_1{
            background-color: $color_fondo_1;
        }
        .fondo_2{
            background-color: $color_fondo_2;
        }
        
        .img-fluid{
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .form-horizontal{
            .form-group{
                margin: 5px 0px 5px 0px;
	            padding: 2px;
                height: 40px;
                .btn-primary {
                    width: 200px;
                    background-color: $color_titulo;
                    border-color: $color_titulo;
                    font-weight: bold;
                    &:hover{
                        background-color:darken( $color_titulo, 10% );
                        border-color:darken( $color_titulo, 10% );
                    }
                }
            }
        }
        .form-vertical{
            width: 100%;
            .mensaje{
                height: 200px;
            }
            .btn-primary {
                width: 200px;
                background-color: $color_titulo;
                border-color: $color_titulo;
                font-weight: bold;
                &:hover{
                    background-color:darken( $color_titulo, 10% );
                    border-color:darken( $color_titulo, 10% );
                }
            }

        }
        .btn-outline-primary{
            width: 150px;
            border-color: $color_titulo;
            font-weight: bold;
            color: $color_titulo;
            &:hover{
                background-color:$color_titulo;
                color: white;
                border-color:darken( $color_titulo, 10% );
            }
        }
        .main__seccion--contenido{
            padding-top: 20px;
            padding-bottom: 20px;
            display: flex;
            justify-content: center;
        }
        
        .main__seccion--cards{
            padding-top: 20px;
            padding-bottom: 20px;

            .main__seccion--card{
                display: flex;
                flex-direction:column;
                justify-content: center;
                //background-color: $color2-light;
                width: 95%;
                margin: 10px;
                //height: 200px;
                .main__seccion--cardtext{
                    opacity: 0;
                    position: absolute;
                    top: 8%;
                    left: 12%;
                    width: 80%;
                    height: 80%;
                    background-color:lighten($color_titulo, 50%);
                    color: black;
                    transition-duration: 0.5s;
                    transition-property: all;
                    padding: 10px;   
                }
                &:hover{
                    
                    .main__seccion--cardtext{
                        opacity: 1;
                    }
                        
                }
            }
        }
        iframe {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        fieldset{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        @each $miembro,$nombre in $miembros {
            .equipo#{$miembro} {background-image: url('../images/#{$nombre}.jpg');background-size:230px; height:200px;margin:10px;background-color: beige;}
        }
        
    }
    h1{
        color:$color_titulo;
        font-size: 50px;
        /*font-weight: bold;*/
        line-height: 1;
        margin: 0;
    }
    h2{
        color:$color_titulo;
        line-height: 1;
        font-size: 28px;
        font-weight: bold;
        margin: 0;
    }
    @media screen and (max-width:480px) {
        h1{
            font-size: 35px; 
        }
        h2{
            font-size: 18px;
        }
    }
    h3{
        color:$color1-intense;
        font-size: 25px;
        margin-top: 10px;
        padding: 10px;
        width: 100%;
    }
    h4{
        width: 100%;
        padding: 15px 0px 0px 0px;
        margin: 0;
    }

    h5{
        font-size: 35px;
        font-weight: bold;
    }

    h6{
        color: $color_titulo;
            font-size: 70px;
            font-weight: bold;
    }
    p{
        margin: 10px 0 10px 0;
    }



    .footer{
        background-color: $color4-verylight;
            padding-top: 20px;
            padding-bottom: 20px;
        .footer--logos{
            display: flex;
            justify-content: center;
            
            img{height: 90px}
        }
        .footer--links {
                display: flex;
                justify-content: center;
                align-items:flex-end;
                img {
                    width: 40px;
	                height: 40px;
                    margin: 3px;
                }
            }
        .footer__recursos {
            padding-top: 20px;
            padding-bottom: 20px;
        }


        ul{
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }

}